.popup__button:disabled {
  background-image: url(../../../images/Submit_Button_disabled.svg);
}


@media (max-width: 630px){
  .popup__button:disabled {
    background-image: url(../../../images/Submit_Button_disabled.svg);
    background-size: 238px 46px;
    background-repeat: no-repeat;
    margin: 15px auto 0;
  }
}
