.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 630px){
  .profile {
  flex-direction: column;
  justify-content: center;
  }
}
