.element__delete-btn {
  background-image: url(../../../images/trash-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  position: absolute;
  width: 18px;
  height: 22px;
  padding: 0;
  top: 15px;
  right: 10px;
  cursor: pointer;
  outline: none;
}

.element__delete-btn:hover {
  opacity: .6;
}
