.popup__image-container {
  max-width: 865px;
  margin: 41px auto 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
    
}

@media (max-width: 630px) {
  .popup__image-container {
    max-width: 550px;
    
  }
}

@media (max-width: 480px) {
  .popup__image-container {
    max-width: 240px;
    
  }
}