.page__elements {
  max-width: 880px;
  margin: 0 auto;
  padding: 51px 0 0;
  grid-template-columns: repeat(3, max-content);
  gap: 20px 17px;

}

@media (max-width: 910px){
  .page__elements {
    max-width: 570px;
    grid-template-columns: repeat(2, max-content);
    gap: 15px 6px;
  }
}

@media (max-width: 630px){
  .page__elements {
    max-width: 282px;
    grid-template-columns: repeat(1, max-content);
    gap: 20px 0;
    padding: 36px 0 0;
  }
}
